data/
*.bam
*.vcf
*.bai
*.bed
*.pkl
checkpoints/
__pycache__/
*.pyc
train.log
.gitattributes
/AI-Module/__pycache__
AI-Module/__pycache__/dataset.cpython-310.pyc
AI-Module/__pycache__/model.cpython-310.pyc
.gitattributes
AI-Module/dataset_simple.py
AI-Module/evaluate.py
AI-Module/inspect_images.py
AI-Module/model_simple.py
AI-Module/train_simple.log
AI-Module/train_simple.py
AI-Module/api_jobs/250a33ad-7e7d-4baf-a579-bae89f2a802d/HG004_test.json
AI-Module/predict_api.log
AI-Module/results/HG004_candidates_strict.tsv
AI-Module/results/HG004_predicted.json
AI-Module/results/HG004_predicted_strict.json
AI-Module/.api_key
AI-Module/api_jobs/b84d4def-b20a-4f9b-bc03-b2c69db3d938/test_chr22.json
AI-Module/api_jobs/31657590-a089-4d1f-85f5-90dec4c43d74/test_chr22.json
